<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Untitled Document</title>
	</head>
	<body>
	<% for photo in @photos %>
       <%= image_tag("#{photo.thumbnail}",
                     :style => "vertical-align: middle",
                     :id => "photo_#{photo.id}",
                     :class => "photos") %>
      <%= draggable_element "#{photo.id}", :revert => true %>
    <% end %>	
	</body>
</html>
