<ol id='sortable_thumbs'>
	<% for slide in @slideshow.slides %>
		<li id='thumbs_<%= slide.id %>' class='slides'>
			<%= thumbnail_tag slide %>
		</li>
	<% end %>
</ol>

<%= sortable_element('sortable_thumbs', :url => {:action => 'update_slide_order'}) %>