<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
		<title>Editing slideshow</title>
	</head>
	<body>
		<%= link_to 'Play this Slideshow', :action => 'show', :id => @slideshow %>
		<div id='slideshow-contents'>
			<%= render :partial => 'show_slides_draggable' %>
		</div>
		<div id='slideshow-attributes'>
			<% form_tag :action => 'update', :id => @slideshow do %>
			<%= render :partial => 'form' %>
			<%= submit_tag 'Save Attributes' %>
		<% end %>
		</div>		
	</body>
</html>
