<p><%= f.label :name, 'Name' %><br/>
<%= f.text_field :name %><p>
<p><%= f.label :category_parent_id, 'Parent Category' %><br/>
<%= collection_select(:category, :parent_id, @all_categories, :id, :long_name) %></p>